// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// custom colour scheme:
// pink-blue-green from colorhunt.co , used to overwrite bootstrap variables.scss
$my-pink: #FF0075;
$my-blue: #172774;
$my-green: #77D970;
$my-yellow: #FEFF89;
$my-orange: #FF9F68;
$my-grey: #EEECDA; // beige
$my-light-gray: #F3F1F5;
