.container_new {
  display: flex;
  justify-content: center;
  align-items: center;
}

.information_newacti {
  text-align-last: center;
  display: flex;
  border: 1px solid rgb(214, 214, 214);
  padding: 49px 13px;
}
