.container_activities_show {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  max-height: 90vh;
}

.user_profile_activity {
background-color: white;
    /* width: 30%; */
    height: 70%;
    margin: 4px;
    padding: 15px;
    height: 100%;
}

.activities_and_chatbox{
margin: 20px;
}

.photo_nickname {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.user_photo_activity {
  height: 70px;
  margin: 5px;
  border-radius: 20px;
}
.container_new {
  margin-bottom: 10px;
}
.card_info {
padding: 15px;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    /* margin: 20px; */
    flex-grow: 1;
    height: 100%;
}

.card_info a {
  text-decoration: none;
  color: 316b83;
}
.container_activity_user {
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 2px #316b83;
  border-radius: 10px;
  margin-bottom: 10px;
}

.activity_user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3px;
  font-size: 12px;
  font-family: "Lobster";
}
.join {
  font-weight: bold;
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: white;
}


.information_newcomment label {
  font-weight: bold;
  font-size: 15px;
}

.btn_comment {
  color: white;
  border-radius: 8px;
  border: 1px solid white;
}

.localisation {
  text-align: right;
  position: absolute;
  bottom: 2px;
  right: 5px;
  margin-top: 10px;
}

// .card_info:hover {
//   border: 3px solid rgb(238, 237, 237);
//   opacity: 0, 5;
// }

.chatbox {
  overflow: scroll;
  max-height: 30vh;
}

.comment {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  border: 1px solid white;
}

#comment_text {
  margin-left: 8px;
}

.attending_user {
  list-style: none;
}

.attending_container {
  margin-top: 5px;
  margin-bottom: 5px;

}

.profile_preference_act {
  display: flex;
  flex-direction: column;
}

.preference_act {
  padding: 9px;
    border: 1px solid #ca4133;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
  margin-bottom: 5px;
}

// activity showpage
.act_container {
  padding: 30px;
}

.header_post {
  display: flex;
  flex-direction: column;
}


.button-7 {
  align-items: center;
  background-color: #116530;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  border-radius: 3px;
}

.button-7:hover,
.button-7:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-7:hover {
  transform: translateY(-1px);
}

.button-7:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.fab{
 color: #116530;
}
