.container_activities_show {
  display: flex;
  justify-content: center;
  height: 100%;
}

.user_profile_activity {
    background-color: white;
    /* width: 30%; */
    padding: 15px;
}

.card_info {
padding: 15px;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    /* margin: 20px; */
    flex-grow: 1;
    width: 63%;
    height: 92vh;
}

.the_activity {
  position: relative;
  background-color: #ca4133;
  color: white;
  padding: 15px;
}

.user_photo_activity {
  height: 200px;

}
.container_new {
  margin-bottom: 10px;
}


.card_info a {
  text-decoration: none;
  color: 316b83;
}
.container_activity_user {
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 2px #316b83;
  border-radius: 10px;
  margin-bottom: 10px;
}

.activity_user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3px;
  font-size: 12px;
  font-family: "Lobster";
}
.join {
    font-weight: bold;
    position: absolute;
    right: 27px;
    bottom: 19px;
    color: white;
    text-align: center;
}

.new_comment {
  border: 1px solid black;
  padding: 5px;
  margin: 15px;
  text-align: center;
}

.information_newcomment label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
}

.information_newcomment input {
  border-radius: 10px;
}

.information_newcomment input:focus {
  border: 3px solid #555;
}

input.btn {
  border: 2px solid black;
}

.localisation {
  text-align: right;
  position: absolute;
  bottom: 2px;
  right: 5px;
  margin-top: 10px;
}

// .card_info:hover {
//   border: 3px solid rgb(238, 237, 237);
//   opacity: 0, 5;
// }

.chatbox {
  overflow: scroll;
  max-height: 70vh;
}

.comment {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  border: 1px solid white;
}


.attending_user {
  list-style: none;
}

.attending_container {
  margin-top: 5px;
  margin-bottom: 5px;

}

.container_photo_and_info {
  display: flex;
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.profile_info_act {
  padding: 15px;

}
.profile_preference_act {
  display: flex;
  flex-direction: column;
}

.preference_act {
  padding: 9px;
    border: 3px solid #ca4133;
    border-radius: 1px;
    display: flex;
    justify-content: space-around;
  margin-bottom: 5px;
}

// activity showpage
.act_container {
  padding: 30px;
}

.header_post {
  display: flex;
  flex-direction: column;
}


.button-7 {
  align-items: center;
  background-color: #116530;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  border-radius: 3px;
}

.button-7:hover,
.button-7:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-7:hover {
  transform: translateY(-1px);
}

.button-7:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.fab{
 color: #116530;
}
