<%= @sport.kind %>
<% @activities.each do |activity| %>
  <div class="container_activities">
    <div class="card_info">
      <%= activity.description %>
    </div>
  </div>
<% end %>
<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
