<div class="footer">
  <div class="footer-social ">
    <a href="sports"><i class="fas fa-futbol"></i></a>
    <%= link_to dashboard_path do %>
      <i class="fas fa-user-alt"></i></a>
  <% end %>
</div>
</div>
