<div class="footer">
  <div class="footer-social">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-links">
    <ul>
      <li><a href="#">Information</a></li>
      <li><a href="#">Dashboard</a></li>
      <li><a href="#">Index</a></li>
      <li><a href="#">Sports</a></li>
      <li><a href="#">Activities</a></li>
      <li><a href="#">Contact</a></li>
    </div>
  </ul>
  <div class="footer-copyright">
    Contactez-nous par <a href="#">mail</a>.
  </div>
</div>
