<div class="footer">
  <div class="footer-social ">
    <%= link_to sports_path do %>
      <i class="fas fa-futbol"></i></a>
  <% end %>
  <%= link_to dashboard_path do %>
    <i class="fas fa-user-alt"></i></a>
<% end %>
</div>
</div>
