
<h2 class="row">Activities
<% @activities.each do |activ| %>
<%= activ %>
<% end %>
</h2>

<h2 class="row">User-activies
<% @user_activities_by_user.each do |acti_user| %>
<%= acti_user  %>
<% end %>
</h2>
