<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>L'application <strong>BugsBuddy</strong> va vous emmener loin !</h1>
    <p>Trouvez votre <strong>Body</strong> et commencez votre sport <strong>ensemble</strong>.</p>
  </div>
</div>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path("sport_image.jpeg")%>)">
  Find your BugsBuddy
</div>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path("reglages.jpeg")%>)">
  My settings
</div>
