<div class="banner banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1461897104016-0b3b00cc81ee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
  <div class="container">
  </div>
</div>
<div class="card-container">
  <%= link_to sports_path do %>
    <div class="card card-1">
      <div class="card-img"></div>
      <div class="card-img-hovered"></div>
      <div class="card-info">
        <h1 class="card-title">Find you BugsBuddy</h1>
      </div>
    <% end %>
  </div>
  <%= link_to sports_path do %>
    <div class="card card-2">
      <div class="card-img"></div>
      <div class="card-img-hovered"></div>
      <div class="card-info">
        <h1 class="card-title">No inspiration? let us pick for you</h1>
      </div>
    <% end  %>
  </div>
  <%= link_to sports_path do %>
    <div class="card card-3">
      <div class="card-img"></div>
      <div class="card-img-hovered"></div>
      <div class="card-info">
        <h1 class="card-title">Change your way of living!</h1>
      </div>
    <% end %>
  </div>
</div>
