<h1 class='text-center p-5'><strong>BugsBuddy</strong></h1>
<div class="banner banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://freshidees.com/wp-content/uploads/2018/08/id%C3%A9e-quel-sport-pratiquer-en-%C3%A9t%C3%A9-1.jpg);">
  <div class="container">
    <h1>L'application <strong>BugsBuddy</strong> va vous emmener loin !</h1>
    <p>Trouvez votre <strong>Body</strong> et commencez votre sport <strong>ensemble</strong>.</p>
  </div>
</div>
<%= link_to sports_path do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path("sport_image_a2v1dx", width: 400, height: 300, crop: :fill) %>)">
    Find your BugsBuddy
  </div>
<% end %>
