<div class="all_home_page_container">
  <div class="banner banner-home" style="background-image: linear-gradient(rgba(170,0,0,0.2),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1461897104016-0b3b00cc81ee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
    <div class="container_home_page">
      <div class="infoaboutus">
        <h1 class="rainboww">Why use <strong>BugsBuddies</strong></h1>
        <h3>Sometimes, <strong>often</strong></h3>
        <h4 class="text-home-page">it's hard to find the motivation to make sport alone</h4>
        <h4 class="text-home-page">that's why <strong>this</strong> app is made for you!</h4>
      </div>
      <%= link_to sports_path do %>
        <h2 class="texttextde"> Find Your Bugsbuddy!</h2>
      <% end %>
    </div>
  </div>
</div>
