.user-activity {
display: grid;
grid-template-columns: 3fr 3fr 3fr;
}
/* .acti-descript {
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #000000;
}
 */
