.card-category {
  background-size: cover;
  background-position: center;
  height: 325px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 50px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 15px 15px 15px;
}

.card-category:hover {
  //filter: blur(10px);
  border-color: rgb(17, 172, 30);
  border-style: solid;
}

.sport_card {
  background-image: url('https://source.unsplash.com/random');
  background-size: cover;
  width: 200px;
  height: 150px;
  margin: 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sport_card a {
  text-decoration : none;
  color: white;
  font-size: 23px;
}
