.footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: rgba(0, 0, 0, 0.8);
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.footer-social a {
  color: rgb(255, 255, 255);
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-social a:hover {
  opacity: 0, 9;
}
.footer-links {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: small;
}
.footer-links :hover {
  text-decoration: none;
  color: black;
  opacity: 0, 2;
}
