.navbar-lewagon {
  justify-content: space-between;
  background: rgb(0, 0, 0);
  position: sticky;
  top: 0px;
  z-index: 99;
  height: 52px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fas {
  color: white;
}
#solologo {
  padding-right: 15px;
}

.title_app {
  color: white;
  font-size: 28px;
  font-family: "Anton", sans-serif;
  width: 50px;
}

.rainboww {
  padding-top: 4px;
  strong {
    animation: animateBg 3s linear infinite;
    background-image: linear-gradient(
      45deg,
      #f3a076,
      #ca4133,
      #f3a076,
      #ca4133,
      #f3a076
    );
    background-size: 300% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @keyframes animateBg {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
}
