.titre {
  // border-radius: 50px;
  // border-style: solid;
/*   border-color: green; */
  text-align: center;
  // background-color: green;
  color: rgb(39, 30, 96);
  margin-top: 30px;

}

h1 {
  font-size: 75px;
  font-weight: bold;
}

h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
