// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
<<<<<<< HEAD
  background: linear-gradient(
    0.25turn,
    rgb(164, 211, 223),
    hsl(94, 100%, 99%),
    rgb(164, 211, 223)
  );
=======
  background-color: white;
>>>>>>> 7c3c5f1011ff7053aa88064e5068917ee5046e8a
}
