<div class="container_activities">
  <div class="card_info">
    <div>
      <%= @activity.description %>
    </div>
    <div>
      localisation is:<%= @activity.localisation %>
      <div class="localisation">
        <%= @activity.date %>
      </div>
    </div>
  </div>
  <h2>Comment</h2>
  <div class="chatbox">
  </div>
  <h3>Attending</h3>
